<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MlSoccerClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Soccer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MlSoccerClient.My.MySettings>
      <setting name="DataBasePath" serializeAs="String">
        <value>C:\BeInReal\Alamiya\AEL Saudi Football.mdb</value>
      </setting>
      <setting name="VizrtHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="VizrtPort" serializeAs="String">
        <value>6200</value>
      </setting>
      <setting name="LoggerHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="LoggerPort" serializeAs="String">
        <value>6405</value>
      </setting>
      <setting name="LastCompetitionId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LastMatchId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ShowSettingsOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VizrtPreviewPort" serializeAs="String">
        <value>50010</value>
      </setting>
      <setting name="ScenePath" serializeAs="String">
        <value />
      </setting>
      <setting name="GraphicVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="OtherMatchesPath" serializeAs="String">
        <value>C:\BeInReal\Alamiya\OtherMatches.xml</value>
      </setting>
      <setting name="UseArabicNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewRemotePath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviewLocalPath" serializeAs="String">
        <value />
      </setting>
      <setting name="HomeColor" serializeAs="String">
        <value />
      </setting>
      <setting name="AwayColor" serializeAs="String">
        <value />
      </setting>
      <setting name="AwayGKJersey" serializeAs="String">
        <value />
      </setting>
      <setting name="HomeGKJersey" serializeAs="String">
        <value />
      </setting>
      <setting name="AwayPJersey" serializeAs="String">
        <value />
      </setting>
      <setting name="HomePJersey" serializeAs="String">
        <value />
      </setting>
    </MlSoccerClient.My.MySettings>
    <Soccer.My.MySettings>
      <setting name="DataBasePath" serializeAs="String">
        <value>C:\BeInReal\Alamiya\AEL Saudi Football.mdb</value>
      </setting>
      <setting name="VizrtHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="VizrtPort" serializeAs="String">
        <value>6100</value>
      </setting>
      <setting name="LoggerHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="LoggerPort" serializeAs="String">
        <value>6405</value>
      </setting>
      <setting name="LastCompetitionId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LastMatchId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ShowSettingsOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VizrtPreviewPort" serializeAs="String">
        <value>50010</value>
      </setting>
      <setting name="ScenePath" serializeAs="String">
        <value />
      </setting>
      <setting name="GraphicVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="OtherMatchesPath" serializeAs="String">
        <value>C:\BeInReal\Alamiya\OtherMatches.xml</value>
      </setting>
      <setting name="UseArabicNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewRemotePath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviewLocalPath" serializeAs="String">
        <value />
      </setting>
    </Soccer.My.MySettings>
  </userSettings>
</configuration>