<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AkSocc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AkSocc.My.MySettings>
            <setting name="DataBasePath" serializeAs="String">
                <value>C:\BeInReal\Alamiya\AEL Saudi Football.mdb</value>
            </setting>
            <setting name="VizrtHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="VizrtPort" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="LoggerHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="LoggerPort" serializeAs="String">
                <value>6405</value>
            </setting>
            <setting name="LastCompetitionId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastMatchId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowSettingsOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VizrtPreviewPort" serializeAs="String">
                <value>50010</value>
            </setting>
            <setting name="ScenePath" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphicVersion" serializeAs="String">
                <value />
            </setting>
        </AkSocc.My.MySettings>
    </userSettings>
</configuration>